<div class="container about">
  <div class="card text-white bg-dark">
  <h5>Üdvözlet a csapattól és köszönjük, hogy megnézted az oldalunkat! <br> <br>
    Itt megtekintheted, hogyan veheted fel a kapcsolatot velünk!</h5>
  </div>
  <h2>Csapat</h2>
  <p>Valami mottóó</p>
  <h2>Bajtársak</h2>
  <div class="row">
  <div class="card col-md-6">
    <img class="card-img-top" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/s960x960/83493749_2433192306791151_8866209875143688192_o.jpg?_nc_cat=101&_nc_oc=AQkYuen-IPvjOG6B_GUseZnIKDGX5yYatWasYlSJjwJWz3RjMQZYoiLuJKYdoc_HgOs&_nc_ht=scontent-vie1-1.xx&_nc_tp=7&oh=6d6c1d0db805c20faddce570432dfce0&oe=5EC3D489" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">Csalai Gábor</p>
      <p class="card-text">Kalandmester</p>
    </div>
  </div>
    <div class="card col-md-6">
      <img class="card-img-top" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/31956854_10208780714634362_323461683643154432_o.jpg?_nc_cat=108&_nc_oc=AQnj_CUaooOIa6fKyunVIi-RVWgWXLhX46BH1WZJf7gcrEILrc2D3cWxRc341ET5llk&_nc_ht=scontent-vie1-1.xx&oh=6ba8309647e3d4069d2a2a0ed7f92359&oe=5EB8AF61" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">Galicz Mihály</p>
        <p class="card-text">alias Zeth Regan</p>
      </div>
    </div>
    <div class="card col-md-6">
      <img class="card-img-top" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-9/s960x960/52753364_2269247016461242_1672377135970385920_o.jpg?_nc_cat=106&_nc_oc=AQl_F41jALqJfYgec4ebwlbJK5t6vUW174VaPr2pT6pRfjuX9InYs9Gpd1yt61Jl1Aw&_nc_ht=scontent-vie1-1.xx&_nc_tp=7&oh=35e6d197b66c8b6b3b406b7bae25931c&oe=5EF3813F" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">Kiss Vivien</p>
        <p class="card-text">alias Azlynne</p>
      </div>
    </div>
    <div class="card col-md-6">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">Oláh Balázs</p>
        <p class="card-text">alias Zimmer Aaron</p>
      </div>
    </div>
    <div class="card col-md-6">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">Süveges Márk</p>
        <p class="card-text">alias Eddie Breeg</p>
      </div>
    </div>
    <div class="card col-md-6">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <p class="card-title">Molnár Bertalan</p>
        <p class="card-text">alias Luna Rowley</p>
      </div>
    </div>
  </div>
</div>
  